<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="display-5 fw-bold">Chaitanya <span class="text-primary">Bathia</span></h1>

            <h3>Career Objective:</h3>
            <h4>I am seeking an entry level position in a reputable company where I can make use of my skills, knowledge and educational experience, and be an asset to the company.</h4>

            <h4>Address: 502, Soham Plaza, Panchvati Society, Jamnagar - 361002</h4>
            <h5>Contact: +91 63535 67237, +91 94293 30018, Email: chaitanyabathia6@gmail.com</h5>
                 
        </div>
    </div>
</div>