<div class="container-fluid my-4">

    <div class="row">
        <div class="col">
            <h2 class="h2 text-center">Projects</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Single User Address Book</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Technology: ASP.NET</h6>
                    <p class="card-text">Description: This is a project linked locally to a database, managing an
                        address book with the feature of allowing multiple users to access the database from a UI-based
                        admin panel from a browser in read mode. If a single user accesses the database at a time, that
                        user can edit, delete or add new data to the database. </p>
                </div>
            </div><br>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Single User Address Book with 3-Tier Architecture</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Technology: ASP.NET</h6>
                    <p class="card-text">Description: This project manages a local database address book from a UI-based
                        admin panel from a browser in read or write mode and this project was coded using the 3-tier
                        development architecture for ASP.NET</p>
                </div>
            </div><br>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Car Booking/Rental System</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Technology: ASP.NET</h6>
                    <p class="card-text">This project is a static local implementation of an admin panel for a car
                        booking/rental System, coded using 3-tier development architecture for ASP.NET. It has features
                        for managing the administrator side of car rental company. </p>
                </div>
            </div><br>
        </div>
    </div>
</div>