<div class="container-fluid my-3">
    <div class="row">
        <div class="col text-center bg-success">
            <h2>Contact Us</h2>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-6 mx-auto text-center">
            <table class="table table-dark">
                <caption hidden>table</caption>
                <thead>
                    <tr>
                        <th>Chaitanya D. Bathia</th>
                        <th>Mobile Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>chaitanyabathia6@gmail.com</td>
                        <td>6353537237, 9429330018</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
