.row
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column
{
    max-width: 33%;
    flex: 32%;
    padding: 0 4px;
}
.column img
{
    
    margin-top:8px;
    vertical-align: middle;
}

@media (max-width: 800px)
{
    .column
    {
        flex: 48%;
        max-width: 48%;
    }
}

@media (max-width: 600px)
{
    .column
    {
        flex: 100%;
        max-width: 100%;
    }
}
