<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h3>Technical Skills</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-3">
            <h4>Front-end</h4>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
                <li>Tailwind</li>
            </ul>
        </div>
        <div class="col-3">
            <h4>Backend</h4>
            <ul>
                <li>.NET</li>
                <li>Java</li>
                <li>Typescript</li>
                <li>C#</li>
            </ul>
        </div>
        <div class="col-3">
            <h4>Database</h4>
            <ul>
                <li>SQL</li>
            </ul>
        </div>
    </div>
</div>