<div class="container-fluid">
  <div class="row bg-primary">
    <div class="col text-white text-center">
      <h1>Resume</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-3 py-3 bg-dark d-flex flex-column justify-content-around">
      <img class="img-fluid rounded-circle border border-5 border-white my-4" src="../assets/mypic.jpg" alt="img">
      <button class="btn btn-primary text-white my-2 fw-bold text-center" routerLink="/about">About</button>
      <button class="btn btn-primary text-white my-2 fw-bold text-center" routerLink="/education">Education</button>
      <button class="btn btn-primary text-white my-2 fw-bold text-center" routerLink="/technical-skills">Technical Skills</button>
      <button class="btn btn-primary text-white my-2 fw-bold text-center" routerLink="projects">Projects</button>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

